$font-stack: 'Raleway', sans-serif;
$primarybrand: #ed0c19;
$secondbrand: #333;

* {
  box-sizing: border-box;
}


img{ width: 100%;}


body {
  color: $primarybrand;
  font-family: $font-stack;
}

.navbar{
  padding: 10px;
  overflow: hidden;
  img{
    &#logo {
      width: 350px;
      display: inline;
      float: left;
    }
  }
  .userwelcome{

  }
  form {
    &.loginForm{
      margin-top: 15px;
      float: right;
      width: 360px;
      .form-group{
        vertical-align: top;
        input {
          margin-top: 0;
        }
        .form-control{}
        .form-group{}
        .form-control{}
        .btn{
          &.btn-primary{}
        }
      }
    }
  }
  .logOut{
    margin-top: 15px;
    float: right;
  }
}
#map{
  width: 100%;
  height: calc(100vh - 110px);
  float: left;
}
.sidebar{
  width: 30%;
  height: calc(100vh - 110px);
  float: left;
  background-color: #333;
  overflow: scroll;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .user-profile{
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    word-break: break-all;
    img{
      margin-bottom: 10px;
    }
  }
  input{
    margin: 3px 0;
  }
}

#loginEmail {
  width: 135px;
}

#loginPassword {
  width: 140px;
}

.mainBox {
  display: block;
  width: 700px;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 15%;
  border-radius: 10px;
  left: calc(50% - 350px);
  opacity: 1;
  z-index: 101;
}

.mapCover {
  display: block;
  width: 100vw;
  height: calc(100vh - 68px);
  background-image: url('../images/smilling.png');
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  position: relative;
  overflow: hidden;
  clear: both;
}

input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lighten($secondbrand, 60%);
  padding: 4px 5px;
  margin: 3px 2px;
  float: left;
}

main {
  float: right;
  padding: 20px;
}

h2 {
  font-size: 22px;
}

// #firstName {
//   width: 120px;
// }
//
// #lastName {
//   width: 163px;
//   margin-left: 3px;
// }
//
// #email {
//   width: 263px;
// }
//
// #age {
//   width: 20px;
//   margin-left: 3px;
// }

button {
  padding: 6px 8px;
  font-size: 12px;
  border: none;
  background-color: $primarybrand;
  color: white;
  border-radius: 3px;
  text-align: center;
  font-family: $font-stack;
  font-weight: 700;
  &:focus {
    outline: none;
  }
}

.datePic {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 17px;
  right: 2%;
  border-radius: 50%;
  background-size: cover;
}

.datePic:hover {
  background-image: url('../images/back.jpg') !important;
}

#slider {
  clear: both;
}


.eventInfoBox {
  min-height: 140px;
  max-height: 160px;
  min-width: 600px;
  color: black;
  position: relative;
  img {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  .content {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    h2 {
      margin-right: 24px;
      strong {
        font-weight: bold;
      }
    }
    h3 {
      font-size: 12px;
      margin-bottom: 2px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 11px;
    }
    a {
      position: absolute;
      bottom: 0;
      right: 5px;
      text-decoration: none;
      color: white;
      padding: 8px;
      font-size: 12px;
      border-radius: 3px;
      font-family: $font-stack;
      font-weight: 700;
      background-color: $primarybrand;
      &:hover {
        background-color: lighten($primarybrand, 15%);
      }
    }
  }
}
