$font-stack: 'Raleway', sans-serif;
$primarybrand: #ed0c19;
$secondbrand: #333;

* {
  box-sizing: border-box;
}


img{ max-width: 100%;}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
}


body {
  color: $primarybrand;
  font-family: $font-stack;
}



.navbar{
  padding: 10px;
  overflow: hidden;
  img{
    &#logo {
      width: 350px;
      display: inline;
      float: left;
    }
  }
  .userwelcome{

  }
  form {
    &.loginForm{
      margin-top: 15px;
      float: right;
      width: 360px;
      .form-group{
        vertical-align: top;
        input {
          margin-top: 0;
        }
        .form-control{}
        .form-group{}
        .form-control{}
        .btn{
          &.btn-primary{}
        }
      }
    }
  }
  .logOut{
    margin-top: 15px;
    float: right;
  }
}
#map{
  width: 100%;
  height: calc(100vh - 98px);
  float: left;
}

.sidebar{
  width: 30%;
  height: calc(100vh - 98px);
  float: left;
  background-color: #333;
  overflow: scroll;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .user-profile{
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    word-break: break-all;
    img{
      margin-bottom: 10px;
    }
  }
  input{
    margin: 3px 0;
  }
}

#loginEmail {
  width: 135px;
}

#loginPassword {
  width: 140px;
}

.mainBox {
  display: block;
  width: 700px;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 15%;
  border-radius: 10px;
  left: calc(50% - 350px);
  opacity: 1;
  z-index: 101;
}

.mapCover {
  display: block;
  width: 100vw;
  height: calc(100vh - 68px);
  background-image: url('../images/smiling.png');
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  position: relative;
  overflow: hidden;
  clear: both;
}

input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lighten($secondbrand, 60%);
  padding: 4px 5px;
  margin: 3px 2px;
  float: left;
}

main {
  float: right;
  padding: 20px;
}

.about {
  box-sizing: border-box;
  padding: 20px;
  float: right;
  display: block;
  width: 70%;
  background-color: white;
  position: absolute;
  top: 15%;
  border-radius: 10px;
  // left: calc(50% - 350px);
  opacity: 1;
  z-index: 101;
}



.row {
  h4{
    color: $secondbrand;
  }
}

// #firstName {
//   width: 120px;
// }
//
// #lastName {
//   width: 163px;
//   margin-left: 3px;
// }
//
// #email {
//   width: 263px;
// }
//
// #age {
//   width: 20px;
//   margin-left: 3px;
// }

button {
  padding: 6px 8px;
  font-size: 12px;
  border: none;
  background-color: $primarybrand;
  color: white;
  border-radius: 3px;
  text-align: center;
  font-family: $font-stack;
  font-weight: 700;

}

.datePic {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 17px;
  right: 2%;
  border-radius: 50%;
  background-size: cover;
}

.datePic:hover {
  background-image: url('../images/back.jpg') !important;
}

#slider {
  clear: both;
}

// #slider > div.ui-rangeSlider-label.ui-rangeSlider-rightLabel > div.ui-rangeSlider-label-value
.ui-rangeSlider-label-value{
  background-color:$primarybrand;
  font-family: $font-stack;
}

.ui-rangeSlider-label.ui-rangeSlider-rightLabel{
  background-color:$primarybrand;
}

.ui-rangeSlider-innerBar {
  background-color:lighten($secondbrand, 80%);
}

.ui-rangeSlider-bar {
  background-color:$primarybrand;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
  background-color:$primarybrand;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
  background-color:$primarybrand;
}

@media only screen and (max-width: 700px) {
  // .mainBox {
  //   width:100%;
  // }
  .sidebar {
      width:50%;
  }
}


@media only screen and (max-width: 500px) {
  .sidebar {
      width:100%;
  }
  .about {
    width:100%;
  }
  .mainBox {
    width:100%;
  }
  .navbar {
    img{
      &#logo {
        width: 200px;
        display: inline;
        float: left;
      }
    }
  }
}
