body {
  color: #ED145A;
}
#logo {
  width: 350px;
  display: inline;
  float: left;
  padding: 3px;
}

#map{
  width: 100vw;
  height: calc(100vh - 100px);
}

.navbar {
  display: inline;
  font-size: 68px;
}

#loginEmail {
  width: 135px;
}

#loginPassword {
  width: 140px;
}

.mainBox {
  display: block;
  width: 700px;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 15%;
  border-radius: 10px;
  left: calc(50% - 350px);
  opacity: 1;
}

.mapCover {
  display: block;
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: url('../images/smilling.png');
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: relative;
}

input {
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  padding: 4px 5px;
  margin: 3px 2px;
  float: left;
}

main {
  float: right;
  padding: 20px;
}

h2 {
  font-size: 22px;
}

#firstName {
  width: 120px;
}

#lastName {
  width: 163px;
  margin-left: 3px;
}

#email {
  width: 263px;
}

#age {
  width: 20px;
  margin-left: 3px;
}

button {
  padding: 4px 5px;
  font-size: 12px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.datePic {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 17px;
  right: 2%;
  border-radius: 50%;
  border: 1px grey solid;
  background-size: cover;
}
